@font-face {
  font-family: Ubuntu-Compressed;
  src: url(../fonts/Ubuntu-C.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-B.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-BI.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-MI.ttf);
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-M.ttf);
  font-weight: medium;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-R.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-RI.ttf);
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-L.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-LI.ttf);
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: Aspire;
  src: url(../fonts/Aspire-DemiBold.ttf);
}

body {
  background-image: url(../assets/images/server.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: scroll;
  font-family: Ubuntu, serif;
  font-size: 18px;
  /* Fallback if js is disabled */
  background-size: 100%;
  background-size: cover;
}

#page-content {
  position: relative;
  z-index: 
}

.header-font {
  font-family: Aspire!important;
}

h2 {
  color: #FB6542;
}

a {
  color: #FB6542;
}

a:hover {
  color: rgb(32,43,69);
}

.introductory-container {
  min-height: 100vh;
  color: white;
  text-shadow: 0px 0px 5px black;
  text-align: center;
  background-color: transparent;
}

.introductory-container h1 {
  font-size: 50px;
  font-family: Aspire, sans-serif;
  text-shadow: 0px 0px 5px black;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: inset 0px 0px 10px black,
                    0px 0px 10px black;
  background-image: url(../assets/images/profile.jpg);
  background-size: cover;
  left: 0px;
  right: 0px;
  margin: auto;
}

.paragraph {
  text-indent: 3em;
}

.main-navbar .navbar-toggle {
  border-color: #ddd;
  background-color: rgba(0,0,0,0.4);
}

.main-navbar .navbar-toggle:hover {
  background-color: rgba(0,0,0,0.6);
}

.main-navbar .navbar-toggle .icon-bar {
  background-color: #FB6542;
}

.main-navbar .navbar-collapse {
  background-color: rgb(32,43,69);
}

.nav > li > a {
  text-shadow: 0px 0px 4px rgb(32,43,69);
}

.nav > li > a:hover {
  background-color: rgb(121,136,185);
  color: white;
}

.fixed-brand-header {
  background-color: rgb(32,43,69);
  box-shadow: 0px 0px 10px black;
}

.icon-container {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.contact-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 10px;
}

.contact-icon img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.contact-icon .background-change {
  height: 100px;
  width: 100px;
  margin-top: 100px;
  transition: all 0.5s ease;
  background-color: rgb(121,136,185);
  margin-bottom: -200px;
}

.contact-icon:hover .background-change {
  margin-top: 0px;
  margin-bottom: -100px;
}

.padding-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.vert-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-xs {
  padding-left: 2px!important;
  padding-right: 2px!important;
}

.padding-sm {
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.padding-md {
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.arrow-btns button {
  margin-top: 8px;
  padding: 6px 10px;
  height: 34px;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid #ddd;
  color: #FB6542;
  font-size: 16px;
}

.arrow-btns button:hover {
  margin-top: 8px;
  padding: 6px 10px;
  height: 34px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #ddd;
  color: #FB6542;
  font-size: 16px;
}

.arrow-btns li:first-child button {
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
 border-right: none;
 width: ;
}

.arrow-btns li:last-child button {
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
}

#brand-header {
  transition: all 0.5s ease;
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0px;
  z-index: 2;
}

.main-info {
  background-color: #ccc;
  box-shadow: 0px 0px 10px black;
  position: relative;
  z-index: 1;
}

#nav-brand {
  font-size: 36px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 42px;  
}

#nav-brand a {
  text-decoration: none;
  color: white;
}

.contact {
  text-align: center;
  background-color: white;
}

#footer {
  text-align: center;
  background-color: rgb(32,43,69);
  height: 60px;
  color: white;
  box-shadow: 0px 0px 10px black;
  position: relative;
  z-index: 1;
}

#footer a {
  font-size: 16px;
}

#footer a:hover {
  color: white;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

/* small screen */
@media (min-width: 768px) {
  #nav-brand {
    top: 0px;
    font-size: 42px;
  }

  .main-navbar .navbar-collapse {
    background-color: transparent;
  }

  #brand-header .fade-nav {
    transition: all 0.5s ease;
    opacity: 0;
  }

  #brand-header.fixed-brand-header .nav {
    opacity: 1;
  }
}

/* medium screen */
@media (min-width: 992px) {
  
}

/* large screen */
@media (min-width: 1200px) {
  
}

/* animations */

@keyframes show-header {
    from {
      background-color: transparent;
      color: white;
    }
    to {
      background-color: white;
      color: black;
    }
}